[
  {rabbit, [
    {tcp_listeners, [{"{{ rabbitmq.conf.tcp.listeners.address }}", {{ rabbitmq.conf.tcp.listeners.port }}}]},
    {ssl_listeners, [{"{{ rabbitmq.conf.ssl.listeners.address }}", {{ rabbitmq.conf.ssl.listeners.port }}}]},
    {ssl_options, [
      {cacertfile, "{{rabbitmq.conf.ssl.options.cacertfile}}"},
      {certfile, "{{rabbitmq.conf.ssl.options.certfile}}"},
      {keyfile, "{{rabbitmq.conf.ssl.options.keyfile}}"},
      {verify, verify_peer},
      {fail_if_no_peer_cert,true}
      ]}
  ]}
].
